#main{
    width: 140px;
    height: 140px;
    border: 1px solid #037;
    position: absolute;
    top:0px;
    left:0px;
}

#jogador{
    width: 20px;
    height: 20px;
    background: #071;
    position:absolute; 
    top:20px; 
    left:20px;
}

.parede{
    width: 60px;
    height: 60px;
    background: #037;
    position:absolute; 
}

.caixa{
    width: 20px;
    height: 20px;
    background: #720;
    position:absolute; 
}

#parede1{
    width: 60px;
    height: 60px;
}

#parede2{
    width: 20px;
    height: 20px;
}

